
.node {
    display: inline-block;
    padding: 3px;
    margin: 2px;
    color: white;
    background: black;
}

.node-apply {
    background: blue !important;
}

.node-parameter {
    background: green !important;
}

.node-constant {
    background: orchid !important;
}

.node-Graph {
    background: mediumvioletred !important;
}

.node-return:before {
    content: "return";
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 2px;
    background: orange;
}

.myia-type-prefix {
    font-weight: bold;
}

.myia-type-function {
    /* padding: 2px; */
    margin: 2px;
    border: 2px solid blue;
}

.myia-type-bool {
    font-weight: bold;
}

.myia-type-uint:before {
    content: "u";
    font-weight: bold;
}

.myia-type-int:before {
    content: "i";
    font-weight: bold;
}

.myia-type-float:before {
    content: "f";
    font-weight: bold;
}

.myia-type-GradTagged > * {
    display: inline-block;
}

.myia-var {
    padding: 2px;
    border: 1px dashed blue;
}

.tippy-tooltip {
    color: black;
    background: white;
    border: 1px solid #333;
}

.repl-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.abstract > .hrepr-title {
    font-weight: bold;
    background: indigo;
}

.abstract.hrepr-titled-h, .abstract.hrepr-titled-v {
    border: 1px solid indigo;
}

.noborder.hrepr-titled-h, .noborder.hrepr-titled-v {
    border: none;
}

.myia-opt {
    display: inline-block;
    padding: 2px;
    color: white;
    background: firebrick;
}
