[run]
omit =
    setup.py
    tests/*
    myia/debug/*

[report]
exclude_lines =
    @pyoverload
    @abstractmethod
    @compile
    @core
    @register_augm
    @register_bprop
    pragma: no cover
    AssertionError
    NotImplementedError
