[run]
omit =
    conftest.py
    setup.py
    tests/*
    debug/*
    myia/debug/*
    examples/*

[report]
exclude_lines =
    @pyoverload
    @abstractmethod
    @compile
    @core
    @wrap_grad_transform
    @bprop_to_grad_transform
    pragma: no cover
    AssertionError
    NotImplementedError
    untested_legacy
