/*
 * Style for Myia's AST when it is pretty-printed using
 * hrepr. This style will be automatically inserted when
 * outputting to an html file or to a Jupyter notebook.
 */

:root, :host {
	--hover-border-color: blue;
}

.myia-ns-builtin {
	background: lightgreen;
}

.myia-ns-global {
	background: orange;
}

.LambdaNode {
	font-family: monospace;
}

.Namespace {
	display: none;
}

.Symbol, .ValueNode {
	display: inline-block;
	padding: 2px;
}

.SymbolIndex {
	font-size: 75%;
	position: relative;
	top: 0.5em;
}

.Keyword {
	display: inline-block;
	font-weight: bold;
	padding: 2px;
}

.ApplyNode {
	display: inline-block;
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
}

.ApplyNode:hover {
	border: 1px solid var(--hover-border-color);
}

.ApplyNode > :nth-child(1) {
	font-weight: bold;
	color: #008;
	margin-right: 5px;
}

.BeginNode, .LambdaNode, .LetNode {
	display: inline-block;
	/* border-left: 1px solid black; */
	padding-left: 2px;
	margin-left: 2px;
}

.BeginNode:hover, .LambdaNode:hover, .LetNode:hover {
	border-left: 1px solid var(--hover-border-color);
}

.LambdaNode > :nth-child(3),
.BeginNode > :nth-child(2),
.LetNode > :nth-child(2),
.LetNode > :nth-child(4) {
	display: block;
	border-left: 3px solid black;
	padding-left: 5px;
	margin-left: 5px;
}

.LambdaNode > :nth-child(3):hover,
.BeginNode > :nth-child(2):hover,
.LetNode > :nth-child(2):hover,
.LetNode > :nth-child(4):hover {
	border-left: 3px solid var(--hover-border-color);
}

.BeginNode > :nth-child(2) > * {
	display: block;
}

.TupleNode {
	display: inline-block;
	border: 2px dotted green;
	margin: 2px;
	padding: 2px;
}

.TupleNode > * {
	margin-left: 5px;
	margin-right: 5px;
}

.LambdaArguments {
	display: inline-block;
}

.LambdaArguments > * {
	padding: 5px;
	color: #f80;
	font-weight: bold;
}

.IfCond:before, .IfThen:before, .IfElse:before {
	font-weight: bold;
	padding-right: 5px;
}

.IfCond:before {
	content: '?';
	color: #808;
}

.IfThen:before {
	content: '✓';
	color: #080;
}

.IfElse:before {
	content: '✖';
	color: #f00;
}

.If {
	display: inline-block;
}

.If > * {
	display: block;
}

.If > * > * {
	vertical-align: middle;
}

.LetNode > * {
	display: block;
}

.LetBindings {
	display: table;
}

.LetBinding {
	display: table-row;
}

.LetBinding > * {
	display: table-cell;
	vertical-align: middle;
}

.LetBinding > :nth-child(1) {
	padding-right: 15px;
	color: #f80;
	font-weight: bold;
}

.ClosureNode {
	display: inline-block;
	border: 2px dotted black;
	margin: 2px;
	padding: 2px;
}

.ClosureNode > :nth-child(1) {
	color: #008;
	margin-right: 5px;
}

.ClosureImpl, .FunctionImpl, .PrimitiveImpl, .VMFrame {
	display: inline-flex;
	flex-direction: column;
	border: 1px solid blue;
}

.myia-ns-null {
	color: #bbb;
}

.myia-ns-null .SymbolIndex {
	display: none;
}

.class_title {
	color: white;
	font-weight: bold;
	background: blue;
	padding: 3px;
}

.class_contents {
	padding: 5px;
}

.class_contents > * {
	display: block;
}

.unbound, .unbound * {
	background-color: red;
	color: white;
}

.missing_source {
}

.error {
	background: #fdd;
}

.error.error0 {
	background: #faa;
}

.hrepr-Exception {
	max-width: 800px;
}
