node {
    color: white;
    background-color: blue;
    content: data(label);
    text-valign: center;
    text-halign: center;
    shape: rectangle;
    width: label;
    padding: 3;
}
node.function {
    padding: 10px;
    text-valign: top;
    text-halign: center;
    color: black;
    background-color: pink;
    background-opacity: 0.125;
}
node.function.focus {
    background-color: #ddd;
}
edge {
    target-text-offset: 10;
    color: white;
    font-size: 12;
    text-outline-width: 3;
    curve-style: bezier;
    source-arrow-shape: triangle;
    line-color: #aaa;
}
edge.input-edge {
    target-label: data(label);
    color: white;
}
edge.fn-edge {
    label: data(label);
    line-color: rgb(150, 0, 0);
    source-arrow-color: rgb(150, 0, 0);
    color: blue;
    font-size: 14;
}
/* edge.link-edge {
    width: 0.00000001;
    line-color: black;
    source-arrow-shape: none;
    target-arrow-shape: diamond;
    target-arrow-color: black;
    line-style: dashed;
}
edge.link-edge:selected {
    width: 1;
} */
edge.nest-edge, edge.use-edge {
    width: 1;
    line-color: green;
    line-style: dashed;
    target-arrow-shape: circle;
    opacity: 0.3;
}
edge.nest-edge {
    line-color: blueviolet;
}
edge.nest-edge:selected, edge.use-edge:selected {
    opacity: 1;
}
edge.link-edge {
    line-style: dashed;
}
edge.link-edge:selected {
    opacity: 1;
}
node.input {
    background-color: green;
}
node.input.unlisted {
    background-color: red;
}
node.output {
    background-color: orange;
}
node.intermediate {
    background-color: blue;
}
node.constant {
    background-color: orchid;
}
node.const_output {
    shape: ellipse;
    width: 10;
    height: 10;
    background-color: orange;
}
node.freevar {
    background-color: blueviolet;
}
node.error {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

node.special-VarNode, node.special-SVar {
    background-color: white;
    color: black;
    border-style: dashed;
    border-width: 1px;
    border-color: blue;
}
