.hrepr-instance.myia-abstract {
    margin: 2px;
    background: purple;
    border-color: purple;
}
.hrepr-instance.myia-abstract-structure {
    margin: 2px;
    background: blue;
    border-color: blue;
}
.hrepr-instance.myia-abstract-union {
    margin: 2px;
    background: darkred;
    border-color: darkred;
}
.myia-generic, .myia-canon-generic, .myia-placeholder {
    padding: 2px;
    margin: 2px;
    font-weight: bold;
}
.myia-generic {
    color: white;
    background: magenta;
}
.myia-canon-generic {
    color: white;
    background: black;
}
.myia-placeholder {
    color: white;
    background: brown;
}

.myia-Graph, .myia-Node {
    padding: 2px;
    color: white;
    background: black;
}
.myia-Graph {
    background: tan;
}
.myia-Apply {
    background: blue;
}
.myia-Constant {
    background: magenta;
}
