
.node {
    display: inline-block;
    padding: 3px;
    margin: 2px;
    color: white;
    background: black;
}

.node-apply {
    background: blue;
}

.node-parameter {
    background: green;
}

.node-constant {
    background: orchid;
}

.node-return:before {
    content: "return";
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 2px;
    background: orange;
}
