
.node {
    display: inline-block;
    padding: 3px;
    margin: 2px;
    color: white;
    background: black;
}

.node-apply {
    background: blue;
}

.node-parameter {
    background: green;
}

.node-constant {
    background: orchid;
}

.node-Graph {
    background: mediumvioletred;
}

.node-return:before {
    content: "return";
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 2px;
    background: orange;
}

.myia-type-function {
    /* padding: 2px; */
    margin: 2px;
    border: 2px solid orangered;
}

.myia-type-bool {
    font-weight: bold;
}

.myia-type-int:before {
    content: "i";
    font-weight: bold;
}

.myia-type-float:before {
    content: "f";
    font-weight: bold;
}

.myia-var {
    padding: 2px;
    border: 1px dashed blue;
}
